flows (1).json
[{"id":"ec8df95.7aff808","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d8394f38.324f5","type":"cloudant","z":null,"host":"4e79a75e-f405-46ec-8fc5-3d07aa566991-bluemix.cloudantnosqldb.appdomain.cloud","name":"node-red-iot-cloudant-1594753782601"},{"id":"76ab5c9b.204cc4","type":"inject","z":"ec8df95.7aff808","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"time","v":"$now()","vt":"jsonata"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["aa0bcfa0.f055"]]},{"id":"aa0bcfa0.f055","type":"random","z":"ec8df95.7aff808","name":"Ultrasonic","low":"20","high":"60","inte":"true","property":"payload","x":100,"y":280,"wires":[["5b65fe58.cea9f"]]},{"id":"d353f8b3.de81d8","type":"random","z":"ec8df95.7aff808","name":"Temperature","low":"15","high":"35","inte":"true","property":"payload","x":110,"y":340,"wires":[["fcc0bad8.b9dde8"]]},{"id":"ec8cf660.458f18","type":"random","z":"ec8df95.7aff808","name":"PIR","low":"0","high":"1","inte":"true","property":"payload","x":90,"y":400,"wires":[["e0cdece2.4431"]]},{"id":"7ecdffd0.c49ee","type":"random","z":"ec8df95.7aff808","name":"Light","low":"498","high":"1500","inte":"true","property":"payload","x":90,"y":460,"wires":[["dc61973f.96da78"]]},{"id":"9ec8281a.a4f978","type":"function","z":"ec8df95.7aff808","name":"","func":"msg.payload={\"d\":{'ultrasonic':flow.get('random1'),\n'temp':flow.get('random2'),'pir':flow.get('random3'),\n'light':flow.get('random4'),\n'time':msg.time    \n}};\nmsg.temp= flow.get('random2');\nmsg.ultrasonic=flow.get('random1');\nmsg.pir=flow.get('random3');\nmsg.light=flow.get('random4');\n//msg.payload=msg.payload.d.ultrasonic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":460,"wires":[["7ff5b997.32cd08","3791812d.a9f28e"]]},{"id":"5b65fe58.cea9f","type":"function","z":"ec8df95.7aff808","name":"","func":"flow.set('random1',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":280,"wires":[["d353f8b3.de81d8"]]},{"id":"fcc0bad8.b9dde8","type":"function","z":"ec8df95.7aff808","name":"","func":"flow.set('random2',msg.payload);\nmsg.payload= {'random2':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":340,"wires":[["ec8cf660.458f18"]]},{"id":"e0cdece2.4431","type":"function","z":"ec8df95.7aff808","name":"","func":"flow.set('random3',msg.payload);\nif(msg.payload>0.5)\n{\n    msg.payload=1;\n}\nelse\n{\n    msg.payload=0;\n}\nmsg.payload={'random3':msg.payload}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":400,"wires":[["7ecdffd0.c49ee"]]},{"id":"dc61973f.96da78","type":"function","z":"ec8df95.7aff808","name":"","func":"flow.set('random4',msg.payload);\nmsg.payload = {'random4':msg.payload};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":460,"wires":[["9ec8281a.a4f978"]]},{"id":"3791812d.a9f28e","type":"function","z":"ec8df95.7aff808","name":"","func":"var limu;\nif (msg.payload.d.ultrasonic <= 50 || msg.payload.d.pir == 1)\n {\n  if (msg.payload.d.light > 0 && msg.payload.d.light <= 500)\n       {\n           limu = 1500 - msg.payload.d.light;\n       }\n    else if (msg.payload.d.light > 500 && msg.payload.d.light <= 1000)\n       {\n         limu = 1500 - msg.payload.d.light;\n       }\n    else (msg.payload.d.light > 1000 && msg.payload.d.light <= 1500)\n    {\n          limu = 1500 - msg.payload.d.light;\n    }\n}\n\nelse \n    {\n       limu = 500;\n    }\nvar temperature;\nif (msg.payload.d.temp >16 || msg.payload.d.temp <30)\n{\n    temperature = msg.payload.d.temp;\n}\nmsg.payload= {'light':limu,'temperature':temperature};\nreturn msg;\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":560,"wires":[["9c4fc30d.8f42f","d1f37d42.69996"]]},{"id":"9c4fc30d.8f42f","type":"cloudant out","z":"ec8df95.7aff808","name":"Smart_atm","cloudant":"d8394f38.324f5","database":"database1","service":"node-red-iot-cloudant-1594753782601-97044","payonly":false,"operation":"insert","x":910,"y":660,"wires":[]},{"id":"7ff5b997.32cd08","type":"debug","z":"ec8df95.7aff808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":680,"wires":[]},{"id":"d1f37d42.69996","type":"debug","z":"ec8df95.7aff808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":480,"wires":[]}]